body {
  background-color: #eaede6;
  color:#41386B;
  font-family: 'Outfit', sans-serif;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chooseGameContainer{
  width: 50%;

  margin: 25px auto;

  background-color: whitesmoke;

  padding: 20px 30px;

  border-radius: 30px;

  box-shadow: 0 8px 30px rgba(0,0,0,0.08);
}

.seeHighScores{
  width: 50%;

  margin: 25px auto;

  background-color: whitesmoke;

  padding: 20px 30px;

  border-radius: 30px;

  box-shadow: 0 8px 30px rgba(0,0,0,0.08);
}

.scoreContainer{
  width: 50%;

  margin: 25px auto;

  background-color: whitesmoke;

  padding: 20px 30px;

  border-radius: 30px;

  box-shadow: 0 8px 30px rgba(0,0,0,0.08);
}

h1{
    font-size: 2rem;
    font-weight: 700;
    color: #6F8A5E;
}

h2 {
  color:  #404b36;
  font-size: 1.4rem;
  margin-top: 0.2rem;
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #424d35;
  border-radius: 6px;
  background-color: #fff;
}

button {
  margin-top: 1.5rem;
  padding: 0.7rem 1.2rem;
  background-color: #758d5d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color:#404b36; 
}

#statusMessage {
  margin-top: 1rem;
  font-style: verdana;
}



